.interface {
  background-image: url(../img/back.png);
  background-size: 1300px, 300px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.title {
  border-bottom: 1px solid var(--amarelo);
  font-size: 1.5rem;
  color: var(--azul);
}

.form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-button {
  border-radius: 0;
  padding: 0.75rem;
  font-size: 0.75rem;
}

.form-input {
  outline: none;
  background-color: var(--amarelo);
  border-color: var(--azul);
}

.form-button {
  border: 1px;
  background: var(--amarelo);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
}

.form-button:hover {
  color: var(--amarelo);
  background: #ff5d95;
}


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.todo-list {
  background-color: #f5f5f5;
  padding: 1rem;
  min-width: 400px;
  min-height: 300px;
  border-radius: 15px;
}

.title {
  border-bottom: 5px solid var(--azul-claro);
  font-size: 1.5rem;
  color: var(--rosa-claro);
}

.form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-button {
  border-radius: 0;
  padding: 0.75rem;
  font-size: 0.75rem;
}

.form-input {
  outline: none;
  background-color: var(--amarelo);
  border-color: var(--azul);
}

.form-button {
  border: 1px;
  background: var(--amarelo);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
}

.form-button:hover {
  color: var(--azul-claro);
  background: var(--rosa);
}

.list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.task {
  background-color: var(--rosa-claro);
  color: var(--amarelo);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem 3rem;
}

.check-button,
.delete-button {
  background-color: white;
  border: 1px solid var(--rosa);
  box-shadow: 0 0 8px var(--rosa);
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.task.done .check-button {
  background-color: #ff5d95;
  color: var(--amarelo);
}

.check-icon {
  display: block;
  padding: 1px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.task.done .check-icon {
  background-color: #0B2027;
}

.content {
  margin: 0;
}

.content-data {
  color:var(--amarelo);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  padding: 1rem 3rem;
}

.task.done .content {
  text-decoration: line-through;
}